@using ServiceClaim.Models

@{
    ViewBag.Title = "Планирование поездки";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime date = DateTime.Parse(Request.QueryString["month"]);
    int year = date.Year;
    int month = date.Month;
    var periodList = ServiceIssuePlan.GetPeriodList(year, month);
}

<div class="row pad-b-md navbar-fixed-top sub-menu-fixed-top bg-primary">
    <div class="col-lg-3">
        <div>
            <input id="month" type="text" class="form-control" value="@String.Format("{0:MMMM yyyy}", DateTime.Now)"/>
        </div>
        <div>
            @Html.DropDownList("engeneers", ServiceIssue.GetEngeneerSelectionList(), "--все инженеры--", new {@class = "form-control"})
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4">
                <div id="selectedIssueName" class="form-control">
                    выберите заявку
                </div>
                <div>
                    @Html.DropDownList("selPeriod", new SelectList(periodList, "ListValue", "ListName"), new {@class = "form-control"})
                </div>
            </div>
            <div class="col-lg-8">
                <button id="btnIssuePlanSave" class="btn btn-success btn-xl">сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="sub-menu-fixed-top-marginer"></div>
<div class="row">
    <div class="col-lg-3">

        <div id="planingIssueList" class="planing-sel-list">
            @foreach (ServiceIssuePlaningItem city in ViewBag.IssueCityList)
            {
                <a class="async-sel" href="#!" name="city" cid="@city.Id">@city.IssuesCount - @city.Name</a>
                <div name="addressContainer" cid="@city.Id" class="pad-1">

                </div>
                @*foreach (ServiceIssuePlaningResult.ServiceIssuePlaningCityItem.ServiceIssuePlaningAddressItem address in city.AddressList)
                    {
                        <tr>
                            <td class="padding-sm">&nbsp;</td>
                            <td colspan="2">@address.IssuesCount - @address.Name</td>
                        </tr>
                        foreach (ServiceIssuePlaningResult.ServiceIssuePlaningCityItem.ServiceIssuePlaningAddressItem.ServiceIssuePlaningClientItem client  in address.ClientList)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td class="padding-sm">&nbsp;</td>
                                <td>@client.IssuesCount - @client.Name</td>
                            </tr>
                        }
                    }*@
            }
        </div>
    </div>
    <div class="col-lg-9">
        <div id="issueContainer">
            @Html.Partial("PeriodWeekView", periodList)
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#month').datepicker({
                orientation: 'bottom',
                minViewMode: 'months',
                format: "MM yyyy",
                autoclose: true,
                language: "ru"
            });
            $('[name="city"]').click(fillAddressList);
            $('#btnIssuePlanSave').click(function() {
                var serviceIssueId = $('#selectedIssueName').attr('sid');
                var periodStr = $('#selPeriod').val();
                $.ajax({
                    url: '@Url.Action("SaveServiceIssuePlan")',
                    method: 'POST',
                    data: { serviceIssueId: serviceIssueId, periodStr: periodStr },
                    success: function(data) {
                        if (!data.error) {
                            appendServiceIssue(data);
                        } else {
                            alert(data.error);
                        }
                    }
                });
            });
        });

        function appendServiceIssue(data) {
            $.ajax({
                url: '@Url.Action("GetServiceIssuePlanItem")?id=' + data.Id,
                method: 'GET',
                success: function(html) {
                    var $issueItem = $(html);
                    if ($issueItem.attr('name') === 'issueItem') {
                        $($issueItem).addClass('updated-issue-item');
                    } else {
                        $('[name="issueItem"]', $issueItem).addClass('updated-issue-item');
                    }
                    var $col = $('#periodContainer-' + data.IdValue.toString());
                    $col.prepend($issueItem);

                    //var $tr = $("tr#taskClaim-" + id);
                    //$tr.addClass('updated--issue-item');
                    //initTaskList($tr);
                },
                error: function(json) {
                    alert(json.error);
                }
            });
        }

        function fillAddressList() {
            showSpinner(this, false);
            var cid = $(this).attr('cid');
            var month = new Date($('#month').val());
            $.ajax({
                url: '@Url.Action("GetAddressList")',
                method: 'POST',
                data: { month: month, idCity: cid },
                success: function(data) {

                    if (data.length) {
                        var $container = $('[name="addressContainer"][cid="' + cid + '"]');
                        $container.html('');
                        for (var i = 0; i < data.length; i++) {
                            var address = data[i];
                            var addresItem = '<a href="#!" class="async-sel" name="address" cid="' + cid + '" aid="' + address.Name + '">' + address.IssuesCount + ' - ' + address.Name + '</a><div name="clientContainer"  cid="' + cid + '" aid="' + address.Name + '"  class="pad-2"></div>';
                            $container.append(addresItem);
                        }

                        $('[name="address"]', $container).click(fillClientList);
                    }
                    hideSpinner();
                },
                error: function(data) {
                    alert(data.error);
                    hideSpinner();
                }
            });
        }

        function fillClientList() {
            showSpinner(this, false);
            var cid = $(this).attr('cid');
            var aid = $(this).attr('aid');
            var month = new Date($('#month').val());
            $.ajax({
                url: '@Url.Action("GetClientList")',
                method: 'POST',
                data: { month: month, idCity: cid, address: aid },
                success: function(data) {
                    if (data.length) {
                        var $container = $('[name="clientContainer"][cid="' + cid + '"][aid="' + aid + '"]');
                        $container.html('');
                        for (var i = 0; i < data.length; i++) {
                            var client = data[i];
                            var clientItem = '<a href="#!" class="async-sel" name="client" cid="' + cid + '" aid="' + aid + '" clid="' + client.Id + '">' + client.IssuesCount + ' - ' + client.Name + '</a><div name="deviceContainer"  cid="' + cid + '" aid="' + aid + '"  clid="' + client.Id + '" class="pad-3"></div>';
                            $container.append(clientItem);
                        }

                        $('[name="client"]', $container).click(fillDeviceList);
                    }
                    hideSpinner();
                },
                error: function(data) {
                    alert(data.error);
                    hideSpinner();
                }
            });
        }

        function fillDeviceList() {
            showSpinner(this, false);
            var cid = $(this).attr('cid');
            var aid = $(this).attr('aid');
            var clid = $(this).attr('clid');
            var month = new Date($('#month').val());
            $.ajax({
                url: '@Url.Action("GetDeviceIssueList")',
                method: 'POST',
                data: { month: month, idCity: cid, address: aid, idClient: clid },
                success: function(data) {
                    if (data.length) {
                        var $container = $('[name="deviceContainer"][cid="' + cid + '"][aid="' + aid + '"][clid="' + clid + '"]');
                        $container.html('');
                        for (var i = 0; i < data.length; i++) {
                            var deviceIssue = data[i];
                            var deviceItem = '<div class="btn btn-link" name="deviceIssue" cid="' + cid + '" aid="' + aid + '" clid="' + clid + '" sid="' + deviceIssue.Id + '" dname="' + deviceIssue.Name + '">' + deviceIssue.IssuesCount + ' - ' + deviceIssue.Name + '</div>';
                            $container.append(deviceItem);
                        }

                        $('[name="deviceIssue"]', $container).click(setIssue);
                    }
                    hideSpinner();
                },
                error: function(data) {
                    alert(data.error);
                    hideSpinner();
                }
            });
        }

        function setIssue() {
            showSpinner(this, false);
            //var cid = $(this).attr('cid');
            //var aid = $(this).attr('aid');
            //var clid = $(this).attr('clid');
            //var did = $(this).attr('did');
            var dname = $(this).attr('dname');
            var sid = $(this).attr('sid'); //serviceClaimId
            var $issueNameInput = $('#selectedIssueName');
            $issueNameInput.text(dname);
            $issueNameInput.attr('sid', sid);
            //$issueNameInput.attr('cid', cid);
            //$issueNameInput.attr('aid', aid);
            //$issueNameInput.attr('clid', clid);
            //$issueNameInput.attr('did', did);

            hideSpinner();
        }
    </script>
}