@using System.Linq
@using System.ServiceModel.Configuration
@using ServiceClaim.Models;
@using ServiceClaim.Objects
@{
    ViewBag.Title = "Список заявок";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var filterStates = ClaimState.GetFilterList();


}

<p>
    <div class="row">
        <div class="col-lg-2 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <div class="pull-left">
                <nav>
                    <ul class="pagination nomargin pages">
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <div id="stateGroupFilter"></div>
            <div class="text-center">
                <span id="filterIsEnabled" style="display: none; padding: 5px 0 5px 5px" class="text-center alert alert-danger">Внимание! Используется фильтр. <button id="filterDisable" class="bt btn-link btn-xs">снять фильтр</button></span>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 hidden-md hidden-lg">
            <div class="pull-left">
                <nav>
                    <ul class="pagination nomargin pages"></ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-xs-6">
            <div>
                <div class="text-right">
                    <nav>
                        <ul class="pagination pagesize nomargin">
                            @*<li>записей на странице</li>*@
                            <li><a name="pageSize" value="30" class="btn btn-default btn-sm selected">30</a></li>
                            <li><a name="pageSize" value="100" class="btn btn-default btn-sm">100</a></li>
                            <li><a name="pageSize" value="300" class="btn btn-default btn-sm">300</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-right">
                <small>
                    обновлено в
                    <span id="lastUpdateTime" class="text-danger text-center"></span>
                </small>
            </div>
        </div>
    </div>

    <table id="claimList" class="table table-bordered sel-list bg-white">
        <tr class="bg-primary">
            <th class="row-mark"></th>
            <th class="min-width">
                <input id="numFilter" type="text" placeholder="№" class="form-control input-xs width-40-xs width-70-md width-70-lg" />
            </th>
            <th class="min-width hidden-sm hidden-xs"><input id="clientSdNumFilter" type="text" placeholder="№ SD клиента" class="form-control input-xs" style="min-width: 85px;" /></th>
            <th>
                @*<select id="clientFilter" class="form-control input-xs"></select>*@
                <input id="clientFilter" type="text" placeholder="Клиент" class="form-control input-xs" />
            </th>
            <th class="hidden-sm hidden-xs"><input id="addressFilter" type="text" placeholder="Адрес" class="form-control input-xs" /></th>
            <th class="width-25perc-lg width-40perc-sm"><input id="deviceFilter" type="text" placeholder="Аппарат" class="form-control input-xs" /></th>
            <th><input id="serialNumFilter" type="text" placeholder="S/N" class="form-control input-xs" /></th>
            @*<th>Последнее изменение</th>*@
            <th class="hidden-sm hidden-xs"><input id="curSpec" type="text" placeholder="Ответственные" class="form-control input-xs" /></th>
            <th class="hidden-sm hidden-xs"><select id="state" class="form-control input-xs"></select></th>
            @*<th>Время с момента создания</th>*@

            <th class="hidden-sm hidden-xs"><input id="dateCreate" type="text" placeholder="Дата создания" class="form-control input-xs" /></th>
        </tr>
        <tbody id="claimContainer"></tbody>
    </table>
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="pull-left">
            <nav>
                <ul class="pagination nomargin pages">
                    @*<li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>*@
                    @*<li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>*@
                    @*<li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>*@
                </ul>
            </nav>
        </div>
        <div class="pull-right">
            <nav>
                <ul class="pagination pagesize nomargin">
                    @*<li>записей на странице</li>*@
                    <li><a name="pageSize" value="30" class="btn btn-default btn-sm selected">30</a></li>
                    <li><a name="pageSize" value="100" class="btn btn-default btn-sm">100</a></li>
                    <li><a name="pageSize" value="300" class="btn btn-default btn-sm">300</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@*<div class="row">
        <blockquote class="alert-danger pull-right">
            @if (Model.TotalCount > 100)
            {
                <button name="displayRows" value="100" class="btn btn-link">показать 100</button>
            }
            @if (Model.TotalCount > 300)
            {
                <button name="displayRows" value="300" class="btn btn-link">показать 300</button>
            }
            @if (Model.TotalCount > 1000)
            {
                <button name="displayRows" value="1000" class="btn btn-link">показать 1000</button>
            }
            <button name="displayRows" value="@Model.TotalCount" class="btn btn-link">показать все</button>
            показаны @Model.List.Count() из @Model.TotalCount
        </blockquote>
    </div>*@

<script type="text/javascript">
    var dlnk = new Deeplink();
    var updated = 0;
    $(window).on('hashchange', function () {
        updated = 1;
        removeRowsAndShowSpinnerOnTable();
        loadClaimList(true);

    });
    $(function() {
        loadStateFilter();
            var sesFilter = getFromSession('filter');
            if (sesFilter) {
                sesFilter = JSON.parse(sesFilter);
                dlnk.hashupdate({ 'num': getEmptyIfNull(sesFilter.num), 'cli': getEmptyIfNull(sesFilter.client), 'csdn': getEmptyIfNull(sesFilter.clSdNum), 'dev': getEmptyIfNull(sesFilter.devName), 'snum': getEmptyIfNull(sesFilter.serial), 'top': getEmptyIfNull(sesFilter.topRows), 'page': getEmptyIfNull(sesFilter.selPage), 'addr': getEmptyIfNull(sesFilter.address), 'grst': getEmptyIfNull(sesFilter.grpState), 'stt': getEmptyIfNull(sesFilter.idState), 'dc': getEmptyIfNull(sesFilter.dateCreate), 'spec': getEmptyIfNull(sesFilter.curSpec) });
            } else {
                removeRowsAndShowSpinnerOnTable();
                loadClaimList(true);
            }

        setTimeout(function() {
            if (updated == 0) {
                removeRowsAndShowSpinnerOnTable();
                loadClaimList(true);
            }
        },100);
        });

    function getEmptyIfNull(val) {
        if (!val || val == null) return '';
        else return val;
    }

    function clearSesFilterAndReload() {
        $.ajax({
            url: '@Url.Action("RemoveFromSession")',
            method: 'POST',
            async: false,
            data: { name: 'filter' },
            success: function() {
                window.location = '@Url.Action("List")';
            }
        });


    }

    function loadStateFilter() {
        var $elem = $('#state');
        $.ajax({
            url: '@Url.Action("GetStateFilterList")',
            method: 'POST',
            success: function (data) {
                $elem.find('option').remove();
                if (data.length > 0) {
                    var option = '<option value="">--все статусы--</option>';
                    $elem.append(option);
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        option = '<option value="' + item.Id + '">' + item.Name + '</option>';
                        $elem.append(option);
                    }
                }
            }
        });
    }

    @*function loadClientFilter() {
        var $elem = $('#clientFilter');
        $.ajax({
            url: '@Url.Action("GetClientFilterList")',
            method: 'POST',
            success: function (data) {
                $elem.find('option').remove();
                if (data.length > 0) {
                    var option = '<option value="">--все клиенты--</option>';
                    $elem.append(option);
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        option = '<option value="' + item.Id + '">' + item.Name + '</option>';
                        $elem.append(option);
                    }
                }
            }
        });
    }*@

    function fillClaimList(data) {
        removeRowsAndShowSpinnerOnTable();
        var $cont = $('#claimContainer');
        if (data.List.length > 0) {
            for (var i = 0; i < data.List.length; i++) {
                var item = data.List[i];
                var $trItem = '<tr id="claim-' + item.Id + '" claimid="' + item.Id + '"><th class="row-mark" style="background-color: #' + (item.State != null ? item.State.BorderColor : '') + '"></th><th class="valign-middle text-center"></div>' + item.Id + '</th><th class="valign-middle hidden-sm hidden-xs text-center">' + (item.ClientSdNum != null ? item.ClientSdNum : '') + '</th><td class="valign-middle">' + (item.Contractor != null ? item.Contractor.FullName : '') + '</td><td class="hidden-sm hidden-xs">' + (item != null ? (item.CityName != null ? item.CityName : '') + (item.Address != null ? '<br />' + item.Address : '') : '') + (item.ContactName != null ? '<br /><b>Контакт:</b> ' + item.ContactName : '') + (item.ContactPhone != null ? '<br /><b>Телефон:</b> ' + item.ContactPhone : '') + '</td><td class="valign-middle">'
                    + (item.DeviceCollective != null && item.DeviceCollective == true ? '<span class="text-danger">массовая заявка</span>' : (item.DeviceUnknown != null && item.DeviceUnknown == true ? '<span class="text-primary">аппарат неизвестен</span>' : (item.Device != null && item.Device.FullName != null ? item.Device.FullName : '')))
                    + (item.Descr != null ? '<br /><strong>Тип работ:</strong> ' + (item.WorkType != null ? item.WorkType.SysName : 'не указан') + '<br /><strong>Описание:</strong> ' + item.Descr : '') + '</td><td class="valign-middle">' + (item.Device != null && item.Device.SerialNum != null ? item.Device.SerialNum : '') + '</td><td class="hidden-sm hidden-xs">' +
                    '<div class="text-nowrap">' +
                        '<span class="small" style="color: #ac2925">' +
                        '<span class="bold monospace">МСЦ:</span>&nbsp;' + (item.Manager != null && item.Manager.DisplayName != null ? item.Manager.DisplayName : '') + '</span>' +
                    '</div>' +
                    '<div class="text-nowrap"><span class="small" style="color: #FF9800"><span class="bold monospace">&nbsp;СА:</span>&nbsp;' + (item.Admin != null && item.Admin.DisplayName != null ? item.Admin.DisplayName : '') + '</span></div>' +
                    '<div class="text-nowrap"><span class="small" style="color: #2e6da4"><span class="bold monospace text-nowrap">СТП:</span>&nbsp;' + (item.Tech != null && item.Tech.DisplayName != null ? item.Tech.DisplayName : '') + '</span></div>' +
                    '<div class="text-nowrap"><span class="small" style="color: #4cae4c"><span class="bold monospace">&nbsp;СИ:</span>&nbsp;' + (item.Engeneer != null && item.Engeneer.DisplayName != null ? item.Engeneer.DisplayName : '') + '</span></div>' +
                    '<div class="text-nowrap"><span class="small" style="color: #4E342E"><span class="bold monospace">МРК:</span>&nbsp;' + (item.ClientManager != null && item.ClientManager.DisplayName != null ? item.ClientManager.DisplayName : '') + '</span></div>' +
                    '</td>' +
                    '<td style="background-color: #' + (item.State != null ? item.State.BackgroundColor : '') + '; color: #37474F" class="valign-middle hidden-sm hidden-xs">' + (item.State != null ? item.State.Name : '') + '<div class="small text-nowrap" style="color: #37474F">' + item.DateStateChangeStr + '-' + (item.Changer != null ? item.Changer.DisplayName : '') + '</div></td><td class="valign-middle hidden-sm hidden-xs text-nowrap">' + item.DateCreateStr + '</td></tr>';

                $cont.append($trItem);
            }
            initListButtons();
        } else {
            $cont.append('<tr><td>пусто</td></tr>');
        }
        hideSpinner($cont);
    }

    //$('[name="displayRows"]').click(function () {
    //    var rows = $(this).attr('value');
    //    reload(rows);
    //});

    @*function reload(topRows) {
        var client = $('#clientFilter').val();
        var url = '@Url.Action("List")?client=' + client + '&state=@Request.QueryString["state"]' + '&topRows=' + topRows;
        window.location = url;
    }*@

    function updateListItem(claimId) {
        $.ajax({
            url: '@Url.Action("GetListItem")',
            method: 'POST',
            data: { claimId: claimId },
            success: function (html) {
                if (html != '') {
                    $('#claim-' + claimId).replaceWith(html);
                    var $tr = $('#claim-' + claimId);
                    $tr.addClass('updated');
                    initListButtons($tr);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                BootstrapDialog.show({
                    type: 'type-danger',
                    title: 'Ошибка!',
                    message: xhr.responseText
                });
            }
        });
    }

    function initListButtons($container) {
        if ($container == null) {
            $('tr[claimid]', $('#claimList')).click(function () {
                window.location = '@Url.Action("Index")/' + $(this).attr('claimid');
            });
            $('tr[claimid]', $('#claimList')).on('contextmenu', function () {                
                window.open('@Url.Action("Index")/' + $(this).attr('claimid'));
            });
            $container = $('#claimList');
        } else {
            $container.click(function () {
                window.location = '@Url.Action("Index")/' + $(this).attr('claimid');
            });
        }

        $('#StateEngOutWait', $container).click(function (e) {
            var $btn = $(this);
            var clid = $btn.attr('clid');
            $.ajax({
                url: '@Url.Action("StateEngOutWaitAsync", "Claim")',
                method: 'POST',
                data: { claimId: clid },
                success: function (data) {
                    showSpinnerAppend($btn);
                    updateListItem(clid);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    BootstrapDialog.show({
                        type: 'type-danger',
                        title: 'Ошибка!',
                        message: xhr.responseText
                    });
                }
            });
            e.stopPropagation();
        });
        $('#SetServEngOnWork', $container).click(function (e) {
            var $btn = $(this);
            var clid = $btn.attr('clid');
            $.ajax({
                url: '@Url.Action("SetServEngOnWorkAsync", "Claim")',
                method: 'POST',
                data: { claimId: clid },
                success: function (data) {
                    showSpinnerAppend($btn);
                    updateListItem(clid);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    BootstrapDialog.show({
                        type: 'type-danger',
                        title: 'Ошибка!',
                        message: xhr.responseText
                    });
                }
            });
            e.stopPropagation();
        });

        if ($container == null) {
            $('tr[claimid]', $container).click(function () {
                window.open('@Url.Action("Index")/' + $(this).attr('claimid'));
            });
        }
    }

    function add2Session(name, val) {
        $.ajax({
            url: '@Url.Action("Add2Session")',
            method: 'POST',
            data: { name: name, value: val },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            }
        });
    }

    function getFromSession(name) {
        var result = null;
        $.ajax({
            url: '@Url.Action("GetFromSession")',
            method: 'POST',
            async: false,
            data: { name: name },
            success: function (data) {
                result = data.val;
            }
        });
        return result;
    }

    function getFilterValues() {
        var num = getHashQueryStringValue('num');//$('#numFilter').val();
        var client = getHashQueryStringValue('cli');//$('#clientFilter').val();
        var clSdNum = getHashQueryStringValue('csdn');//$('#clientSdNumFilter').val();
        var devName = getHashQueryStringValue('dev');//$('#deviceFilter').val();
        var serial = getHashQueryStringValue('snum');//$('#serialNumFilter').val();
        var topRows = getHashQueryStringValue('top');//$('[name="pageSize"].selected').attr('value');
        var selPage = getHashQueryStringValue('page');//1;
        if (!topRows || topRows <= 30) topRows = 30;
        if (!selPage || selPage <= 1) selPage = 1;
        var address = getHashQueryStringValue('addr');//$('#addressFilter').val();
        var idState = getHashQueryStringValue('stt');
        var dateCreate = getHashQueryStringValue('dc');
        var curSpec = getHashQueryStringValue('spec');
        var grst = getHashQueryStringValue('grst');
        var grState = [];
        if (grst) {
            grState = grst.split(',');
        }

        var filterEnabled = num != null || client != null || clSdNum != null || devName != null || serial != null || topRows != 30 || selPage != 1 || address != null || idState != null || dateCreate != null ||
            curSpec != null || grst != null;

        var filter = { num: num, client: client, clSdNum: clSdNum, devName: devName, serial: serial, address: address, topRows: topRows, selPage: selPage, grpState: grState, idState: idState, dateCreate: dateCreate, curSpec: curSpec, filterEnabled: filterEnabled };
        add2Session('filter', JSON.stringify(filter));

        $('#numFilter').val(num);
        $('#clientFilter').val(client);
        $('#clientSdNumFilter').val(clSdNum);
        $('#deviceFilter').val(devName);
        $('#serialNumFilter').val(serial);
        $('#addressFilter').val(address);
        $('[name="page"].active').removeClass('active');
        $('[name="page"][value="' + selPage + '"]').addClass('active');
        $('[name="pageSize"].selected').removeClass('selected');
        $('[name="pageSize"][value="' + topRows + '"]').addClass('selected');
        $('#state').val(idState);
        $('#dateCreate').val(dateCreate);
        $('#curSpec').val(curSpec);

        return filter;
    }

    function loadClaimList(reloadStateGroupFilter) {
        var filter = getFilterValues();
        
        $.ajax({
            url: '@Url.Action("GetClaimList")',
            method: 'POST',
            data: { client: filter.client, claimId: filter.num, clientSdNum: filter.clSdNum, deviceName: filter.devName, serialNum: filter.serial, topRows: filter.topRows, pageNum: filter.selPage, groupStateList: filter.grpState, address: filter.address, idState: filter.idState, dateCreate: filter.dateCreate, curSpec: filter.curSpec },
            success: function (data) {
                fillClaimList(data);
                writeLastupdateTime();
                //$('#lastUpdateTime').attr('t', 0);
                fillPager(filter.topRows, data.TotalCount, filter.selPage);

                loadStateGroupFilter(data.TotalCount);
            }
        });


    }

    function getHashQueryStringValue(param) {
        var lochash = location.hash.substr(1),
        mylocation = lochash.substr(lochash.indexOf(param))
                      .split('&')[0]
                      .split('=')[1];
        if (mylocation) return mylocation;
        else return null;
    }

    //function setHashQueryStringValue(param, value) {
    //    var lochash = location.hash.substr(1);
    //    var locInd = lochash.indexOf(param);

    //    if (locInd >= 0) {
    //        alert(locInd + param.length);
    //        var mylocation = lochash.substr(lochash.indexOf(param)).split('&')[0].split('=')[1];

    //        alert(mylocation);
    //    } else {
    //        location.hash = lochash + '&' + param + '=' + value;
    //    }
    //}


    //dlnk.hashchange(function () {
    //    alert(1);
    //    loadClaimList(true);
    //});
    //var goto = function (e, data) {
    //    var hash = data.hash;
    //    var map = data.map;

    //    alert(hash);
    //    alert(map);
    //};

    //$(dlnk).bind("deeplink", goto);

    function fillPager(topRows, totalCount, selPage) {
        var pages = Math.floor(totalCount / topRows);
        if ((totalCount % topRows) > 0) pages++;
        $('.pagination.pages li').remove();

        var btnPrev = '<li name="page-prev"><a class="cursor-pointer" value="' + (selPage <= 1 ? 1 : selPage - 1) + '"><</a></li>';
        $('.pagination.pages').append(btnPrev);
        for (var i = 0; i < pages; i++) {
            var btn = '<li name="page" value="' + (i + 1) + '" class="' + (selPage == i + 1 ? 'active' : '') + '"><a class="cursor-pointer" value="' + (i + 1) + '">' + (i + 1) + '</a></li>';
            $('.pagination.pages').append(btn);

            if (i > 2) {
                btn = '<li name="page" value="' + (i + 2) + '" class="' + (selPage == i + 2 ? 'active' : '') + '"><a class="cursor-pointer" value="' + (i + 2) + '">...</a></li>';
                $('.pagination.pages').append(btn);
                break;
            }
        }
        var btnNext = '<li name="page-next"><a class="cursor-pointer" value="' + (selPage >= pages ? pages : selPage + 1) + '">></a></li>';
        $('.pagination.pages').append(btnNext);

        $('[name="page"]:not(.disabled) a').click(function () {
            var pg = parseInt($(this).attr('value'), 10);
            dlnk.hashupdate({ 'page': pg });
            //$('[name="page"].active').removeClass('active');
            //$('[name="page"][value="' + $(this).attr('value') + '"]').addClass('active');
            //removeRowsAndShowSpinnerOnTable();
            //loadClaimList();
        });

        $('[name="page-next"] a').click(function () {
            var pg = parseInt(getHashQueryStringValue('page'), 10);
            var nextPage = pg >= pages ? pages : pg + 1;
            dlnk.hashupdate({ 'page': nextPage });
            //$('[name="page"].active').removeClass('active');
            //$('[name="page"][value="' + nextPage + '"]').addClass('active');
        });
        $('[name="page-prev"] a').click(function () {
            var pg = parseInt(getHashQueryStringValue('page'), 10);
            var prevPage = pg <= 1 ? 1 : pg - 1;
            dlnk.hashupdate({ 'page': prevPage });
            //$('[name="page"].active').removeClass('active');
            //$('[name="page"][value="' + prevPage + '"]').addClass('active');
        });
    }

    function writeLastupdateTime() {
        $('#lastUpdateTime').attr('dt', Date.now());
        //alert(new Date(Date.now()).toLocaleTimeString());
        var lastTime = new Date(Date.now()).toLocaleTimeString();
        $('#lastUpdateTime').html(lastTime);
    }

    //function lastUpdateTimer() {
    //    var last = $('#lastUpdateTime').attr('t');
    //    last = parseInt(last) + 1;
    //    $('#lastUpdateTime').attr('t', last);
    //        $('#lastUpdateTime').html(last + ' сек. назад');
    //}

    function removeRowsAndShowSpinnerOnTable() {
        var $cont = $('#claimContainer');
        $cont.find('tr').remove();
        showSpinnerAppend($cont);
    }


    function loadStateGroupFilter(totalCount) {
        var filter = getFilterValues();
        if (filter.filterEnabled == true) {
            $('#filterIsEnabled').show();
        } else {
            $('#filterIsEnabled').hide();
        }
        $.ajax({
            url: '@Url.Action("GetStateGroupFilterList")',
            method: 'POST',
            data: { client: filter.client, claimId: filter.num, clientSdNum: filter.clSdNum, deviceName: filter.devName, serialNum: filter.serial, topRows: filter.topRows, pageNum: filter.selPage, groupStateList: filter.grpState, address: filter.address, idState: filter.idState, dateCreate: filter.dateCreate, curSpec: filter.curSpec },
            success: function(data) {
                var $cont = $('#stateGroupFilter');
                $cont.find('ul').remove();
                var $ul = $('<ul class="list-inline"></div>');
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        //var li = '<div class="col-sm-6 col-xs-6 col-lg-2"><a name="stateGroupFilterItem" value="' + item.Id + '" class="btn btn-block state-group-filter-item text-sm" style="background-color: #' + item.BackgroundColor + '; color: #' + item.ForegroundColor + '"><span class="sel-mark text-success"><i class="fa fa-check-circle"></i></span><span class="badge">' + item.ClaimCount + '</span>&nbsp;' + item.Name + '&nbsp;</a></div>';
                        var li = '<li><a name="stateGroupFilterItem" value="' + item.Id + '" class="btn state-group-filter-item text-sm" style="background-color: #' + item.BackgroundColor + '; color: #37474F; border-color: #' + (item.BorderColor == null ? '9E9E9E' : item.BorderColor) + '; border-width: 1px; border-style: solid;"><span class="sel-mark text-success"><i class="fa fa-check-circle"></i></span><span class="badge" style="color:#' + item.ForegroundColor + ';background-color:#' + (item.BorderColor == null ? '9E9E9E' : item.BorderColor) + '">' + item.ClaimCount + '</span>&nbsp;' + item.Name + '&nbsp;</a></div>';
                        $ul.append(li);

                        if (i + 1 == data.length) {
                            var li = '<li><a name="stateGroupFilterItemAll" value="all" class="btn btn-block state-group-filter-item text-sm" style="background-color: #CFD8DC; color: #607D8B; border-color: #37474F; border-width: 1px; border-style: solid;"><span class="sel-mark text-success"><i class="fa fa-check-circle"></i></span><span class="badge" style="background-color:#607D8B">' + totalCount + '</span>&nbsp;Все&nbsp;</a></div>';
                            $ul.append(li);
                        }
                    }
                    $cont.append($ul);
                    $('[name="stateGroupFilterItem"]').click(function () {
                        $(this).toggleClass('selected');
                        var $grpStateElem = $('[name="stateGroupFilterItem"].selected');
                        var grpState = '';
                        if ($grpStateElem.length > 0) {
                            for (var i = 0; i < $grpStateElem.length; i++) {
                                var val = $($grpStateElem[i]).attr('value');
                                if (grpState > 0) grpState = grpState + ',';
                                grpState = grpState + val;
                            }
                        }

                        dlnk.hashupdate({ 'grst': grpState, 'page': 1 });
                    });
                    $('[name="stateGroupFilterItemAll"]').click(clearSesFilterAndReload);
                    $('#filterDisable').click(clearSesFilterAndReload);
                }

                var grst = filter.grpState;
                for (var i = 0; i < grst.length; i++) {
                    var gr = grst[i];
                    $('[name="stateGroupFilterItem"][value="' + gr + '"]').addClass('selected');
                }
            }
        });
    }

    //$(function () {
    //    loadClientFilter();
    //    loadStateGroupFilter();
    //});

    $(document).ready(function () {
        //var $cont = $('#claimContainer');
        //$cont.find('tr').remove();
        //showSpinnerAppend($('#claimContainer'));
        //loadClaimList();
        //window.location.hash = 'claimList';
        $('#state').change(function (e) {
            dlnk.hashupdate({ 'stt': $(this).val(), 'page': 1 });
        });
        $('#dateCreate').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'dc': $(this).val(), 'page': 1 });
            }
        });
        $('#curSpec').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'spec': $(this).val(), 'page': 1 });
            }
        });
        $('#clientFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'cli': $(this).val(), 'page': 1 });
            }
        });
        $('#numFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'num': $(this).val(), 'page': 1 });
            }
        });
        $('#clientSdNumFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'csdn': $(this).val(), 'page': 1 });
            }
        });
        $('#deviceFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'dev': $(this).val(), 'page': 1 });
            }
        });
        $('#serialNumFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'snum': $(this).val(), 'page': 1 });
            }
        });
        $('#addressFilter').keypress(function (e) {
            if (e.keyCode == 13) {
                dlnk.hashupdate({ 'addr': $(this).val(), 'page': 1 });
            }
        });
        $('[name="pageSize"]').click(function () {
            //$('[name="pageSize"].selected').removeClass('selected');
            var top = $(this).attr('value');

            //$('[name="pageSize"][value="' + top + '"]').addClass('selected');
            dlnk.hashupdate({ 'top': top, 'page': 1 });
        });
        setInterval(function () { loadClaimList(); }, 30000);
        //setInterval(lastUpdateTimer, 1000);
    });
</script>


