@using System.Configuration
@using ServiceClaim.Helpers
@model System.Collections.Generic.IEnumerable<ServiceClaim.Models.Claim2ClaimState>

@foreach (var state in Model)
{
    <div style="background-color: #@state.State.BackgroundColor; color: #@state.State.ForegroundColor; border-color: #@state.State.BorderColor" class="padding-sm history-state-block" id="@state.State.SysName@state.Id">
        <strong>@state.State.Name</strong><br/>
        @state.DateCreate.ToString("g") - @state.Creator.DisplayName<br/>
        <small>@state.Creator.PositionName</small>
        @if (!String.IsNullOrEmpty(state.Descr) || state.IdServiceSheet.HasValue || state.ZipClaimId.HasValue)
        {
            <div class="no-marg-bot">
                @if (!String.IsNullOrEmpty(state.Descr))
                {
                    @Html.Nl2Br(state.Descr)
                }
                @if (state.IdServiceSheet.HasValue)
                {
                    <div>
                        <a href="@Url.Action("ServiceSheet", new {id = state.IdServiceSheet.Value})" target="_blank">Сервисный лист №@state.IdServiceSheet.Value</a>
                    </div>
                }
                @if (state.ZipClaimId.HasValue)
                {
                    <div>
                        <a href="@ConfigurationManager.AppSettings["zipClaimHost"]/Claims/Editor?id=@state.ZipClaimId.Value" target="_blank">Заявка на ЗИП №@state.ZipClaimId.Value</a>
                    </div>
                }
            </div>
        }
    </div>
}
@if (!ViewBag.ShowBtnGetAll)
{
    <button id="showAllHistory" class="btn btn-default btn-xs">еще...</button>
}
